<%- include('../partials/header', {title:"College List", permission: permission}) -%>



<table class="table caption-top">
  <caption>college List</caption>
    <tr>
      <th> School </th>
      <th> Application Plan</th>
      <th> Due Date</th>
    </tr>

  <% for (college in colleges) { %>

    <tr>
      <td><a href="/counselors/counselor/<%=student%>/<%=colleges[college]["collegeName"]%>"><%=colleges[college]["collegeName"]%></a></td>
      <td><%=colleges[college]["applicationType"]%></td>
      <td><%=colleges[college].dueDate%></td>
    </tr>
<%}%>
</table>

<%- include('../partials/footer') -%>
