<%- include('../partials/header', {title:"College List"}) -%>



<table class="table caption-top">
  <caption>time: <%=time%></caption>
    <tr>
      <th> School </th>
      <th>Application Plan</th>
    </tr>

  <% for (college in colleges) { %>

    <tr>
      <td><a href="/students/<%=colleges[college]["collegeName"]%>"><%=colleges[college]["collegeName"]%></a></td>
      <td><%=colleges[college]["applicationType"]%></td>
    </tr>
<%}%>
</table>

<%- include('../partials/footer') -%>
